/*Media CSS*/
/***********/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}



.lanLogo
{
	width: 20%;
}







/*General CSS*/
/************/
*
{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

a
{
	text-decoration: none;
}


/*Nav bar css*/
/*************/
nav
{
	background-color:#3C4140;
}

nav > ul > li
{
	transition: 0.2s;
	background-color:#3C4140;
	display: inline-block;
	text-align: center;
	font-family: Georgia;
	width: 130px;
}

nav > ul > li:hover
{
	transition: 1s;
	background-color: #81807C;
}

nav > ul > li > a
{
	color: #FFFFFF;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
}

nav > ul > li > img
{
	padding: 10px;
}

.navElement
{
	/*empty [used by javascript]*/
}

.hamburgerMenuIcon 
{
	visibility: hidden;
	width:0px;
	float:left;
	cursor:pointer;
}
 
.fixedRightNavElement
{
	background-color:#3C4140;
	color:#00DBC4;
	float:right;
}
 
.fixedRightNavElement > a
{
	color:#00DBC4;
}

/*Used for expanding menu*/
.navElement.hamburgerExpended
 {
	visibility:visible;
	width:100%;
	border-top:1pt solid #00DBC4;	
}

 .hamburgerMenuIcon.hamburgerExpended
 {
	background-color:#81807C;
}

/*Teal bar under nav*/
nav > hr
{
	color: #00DBC4;
	background-color: #00DBC4;
	height: 4px;
}


/*Screen adjustements*/
/*********************/
@media only screen and (max-width: 800px)
{
	[class*="col-"] 
	{
		width: 100%;
		visibility: hidden;
	}
	[class*="navElement"] 
	{
		width: 0px;
		visibility: hidden;
	}
	[class*="hamburgerMenuIcon"] 
	{
		visibility: visible;
		width: 48px;
		height: 48px;
	}
	[class*="lanLogo"]
	{
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 10%
	}
}
